html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow-x: hidden;
}

a,
button,
[role="button"],
input,
textarea,
select {
  -webkit-tap-highlight-color: transparent;
}

/* * {
  outline: 1px solid red;
} */